.logo-mocar {
	background-color: aliceblue;
    -webkit-mask-image: url(../../../assets/images/car-side-solid.svg);
    mask-image: url(../../../assets/images/car-side-solid.svg);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	padding: 2rem;
}

.div-navbar {
  width: 100%;
  height: 80px;
  align-items: center;
  margin: 0 !important;
  top: 0;
  overflow: hidden;
  padding-right: 2rem;
  justify-content: space-between;
  background: var(--primary-color);
}

::ng-deep .p-tabmenuitem {
	background: var(--primary-color);
}
.menuItem {
  color: #fff;
  background: var(--primary-color);
}

.menuItemActive {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid var(--c-font-light);
  color: var(--c-font-light);
  background: none !important;
}
